<div class='sidebar'>
  <form [formGroup]="form" (ngSubmit)="onSearch()">
    <div class='sidebar-item search-form'>
      <input formControlName="search" type="text" placeholder="Search" aria-label="Search">
      <button type="submit">
        <i class='bi bi-search'></i>
      </button>
    </div>
  </form>
  <h3 class='sidebar-title'>Categories</h3>
  <div class='sidebar-item categories'>
    <div *ngFor="let category of categories">
      <div class="my-1">
        <a class="text-center fw-bold" (click)="searchForCategory(category)">{{ category.name }}</a>
        <span class="text-muted"> ({{ category.quantity }})</span>
      </div>
    </div>
  </div>
  <h3 class='sidebar-title'> Tags</h3>
  <div class='sidebar-item tags d-flex flex-wrap gap-1'>
    <div *ngFor="let tag of tags">
      <span (click)="searchForTag(tag)">{{ tag.name }}</span>
    </div>
  </div>
</div>
