<app-header></app-header>
<section class="main">
  <div class="container col-xxl-8 px-4 py-5 border-bottom">
    <h2 class="h3">About Bamboo Shop Template</h2>
    <p class="text-muted mb-3 pb-4">Latest marketplace news, success stories and tutorials</p>

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">We harvest some of <span class="text-muted">our delicious Bamboo.</span></h2>
        <p class="lead">Some great bamboo content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/images/bamboo.jpg" class="bd-bamboo-img bd-bamboo-img-lg featurette-image img-fluid mx-auto rounded" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More bamboo content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bamboo.jpg" class="bd-bamboo-img bd-bamboo-img-lg featurette-image img-fluid mx-auto rounded" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More bamboo content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/images/bamboo.jpg" class="bd-bamboo-img bd-bamboo-img-lg featurette-image img-fluid mx-auto rounded" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <section class="text-center">
      <h2 class="h3">The Team</h2>
      <p class="text-muted mb-3 pb-4">These are the people who make it all happen</p>

      <div class="row">
        <div class="col-lg-4 mb-4">
          <svg class="bd-bamboo-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="bamboo: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>bamboo</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#eee" dy=".3em">140x140</text></svg>
          <h2 class="m-2">Management</h2>
          <p class="w-75 mx-auto">Some representative bamboo content for the three columns of text below the carousel. This is the first column.</p>
          <div class="d-flex flex-row justify-content-center">
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-facebook m-4"></i></a>
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-instagram m-4"></i></a>
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-twitter m-4"></i></a>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 mb-4">
          <svg class="bd-bamboo-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="bamboo: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>bamboo</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#eee" dy=".3em">140x140</text></svg>
          <h2 class="m-2">Marketing</h2>
          <p class="w-75 mx-auto">Another exciting bit of representative bamboo content. This time, we've moved on to the second column.</p>
          <div class="d-flex flex-row justify-content-center">
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-facebook m-4"></i></a>
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-instagram m-4"></i></a>
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-twitter m-4"></i></a>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 mb-4">
          <svg class="bd-bamboo-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="bamboo: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>bamboo</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#eee" dy=".3em">140x140</text></svg>
          <h2 class="m-2">Lead Design</h2>
          <p class="w-75 mx-auto">Another exciting bit of representative bamboo content. This time, we've moved on to the second column.</p>
          <div class="d-flex flex-row justify-content-center">
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-facebook m-4"></i></a>
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-instagram m-4"></i></a>
            <a href="https://www.instagram.com/yx3m1" target="_blank"><i class="bi bi-twitter m-4"></i></a>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </section>
  </div>
</section>
<app-footer></app-footer>
