@import '../../style';

.main {
  height: 100vh;
}

.front-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.front-cover {
  position: absolute;
  height: 45rem;
  top: 5rem;
}

video {
  width: 100%;
}

img {
  background-image: url('/images/cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 26px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 24px;
}

.btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

.btn-get-started:hover {
  background: #5e1224;
  border: 2px solid #5e1224;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #5e1224;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #5e1224;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #5e1224;
}

.about .content .btn-learn-more:hover {
  background: #5e1224;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/

.box {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.box {
  text-align: center;
  background: #f9f9f9;
}

.box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #493c3e;
}

.box h4 {
  font-size: 42px;
  color: #5e1224;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.box ul {
  padding: 0;
  list-style: none;
  color: #493c3e;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.box ul li {
  padding-bottom: 16px;
}

.box ul i {
  color: #5e1224;
  font-size: 18px;
  padding-right: 4px;
}

.box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.box .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: none;
  background: #5e1224;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.box .btn-buy:hover {
  box-shadow: inset 100px 100px rgba(255, 255, 255, 0.2);
}

.box .btn-buy[inactive] {
  background: #888;
}
