<app-header></app-header>

<section id="subnavi" class="subnavi">
  <div class="container">
    <ol>
      <li>
        <a href="/home" [routerLink]="['/home']">Home</a>
      </li>
    </ol>
    <h2>Shop</h2>
  </div>
</section>

<section id="shop" class="shop">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 order-lg-2 py-5">
        <div class="sticky-top sidebar-container">
          <app-console></app-console>
        </div>
      </div>
      <div class="col-lg-8 entries order-lg-1 py-5">
        <div class="row row-cols-1 row-cols-sm-2 g-4">

          <div *ngFor="let product of products">
            <div class="box text-center">
              <a [routerLink]="['/products', product._id]" class="d-flex flex-row justify-content-center">
                <img *ngIf="product.images?.length" [src]="product.images[0].src" class="img-fluid" width='150'>
              </a>
              <a [routerLink]="['/products', product._id]">
                <h3>{{product.name}}</h3>
              </a>
              <div class="d-flex flex-column justify-content-center">
                <h4> {{product.price | currency: 'EUR'}}<span> / Stück</span></h4>
                <span class="flex-row text-muted">{{product.additional}}</span>
              </div>
              <div class="btn-group my-4">
                <button (click)="addToCart($event, product)" type="button" class="btn btn-buy">
                  <i class="bi bi-cart2 position-relative"></i>
                  Add to cart
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<app-toast></app-toast>
