@import '../../style';

/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/
.shop {
  min-height: 100vh;
}

.sidebar-container {
  top: 5rem;
}

.box {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.box {
  text-align: center;
  background: #f9f9f9;
}

.box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #493c3e;
}

.box h4 {
  font-size: 42px;
  color: #5e1224;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.box ul {
  padding: 0;
  list-style: none;
  color: #493c3e;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.box ul li {
  padding-bottom: 16px;
}

.box ul i {
  color: #5e1224;
  font-size: 18px;
  padding-right: 4px;
}

.box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.box .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: none;
  background: #5e1224;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.box .btn-buy:hover {
  box-shadow: inset 100px 100px rgba(255, 255, 255, 0.2);
}

.box .btn-buy[inactive] {
  background: #888;
}
