<header id="header" class="fixed-top">
  <nav #mainNav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav">
      <div class="container">
          <a class="navbar-brand" [routerLink]="['/']">
            <img src="assets/images/logo.png" class="logo" alt="..." />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars ms-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                  <li class="nav-item">
                    <a [routerLink]="['/']">Home</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/']" fragment="shop">Shop</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/']" fragment="about">About</a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/']" fragment="contact">Contact</a>
                  </li>
              </ul>
          </div>
          <i [routerLink]="['/shoppingcart']" class="bi bi-cart-fill mx-4 position-relative">
            <span class="badge position-absolute top-0 start-100 translate-middle p-2 bg-primary rounded-circle">
              {{shoppingcartService.items.length}}
              <span class="visually-hidden">Products</span>
            </span>
          </i>
      </div>
  </nav>

</header>
