@import '../../style';

.sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  position: relative;
}

.sidebar-item {
  margin-bottom: 30px;
}

.search-form {
  background: #fff;
  border: 1px solid #d3cacb;
  padding: 3px 10px;
  position: relative;
  border-radius: 5px;
}

.search-form input[type="text"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 42px);
}

.search-form button {
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  margin: -1px;
  background: $primary;
  color: #fff;
  transition: 0.3s;
}

.search-form button:hover {
  box-shadow: inset 100px 100px rgba(255, 255, 255, 0.2);
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories ul li + li {
  padding-top: 10px;
}

.categories ul a {
  color: #655356;
}

.categories ul a:hover {
  color: #5e1224;
}

.categories ul a span {
  padding-left: 5px;
  color: #b1a0a3;
  font-size: 14px;
}

.tags span {
  color: #888;
  font-size: 14px;
  text-transform: capitalize;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #ede9e9;
  display: inline-block;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.tags span:hover {
  color: #fff;
  background: $primary;
}

.tags ul a span {
  padding-left: 5px;
  color: #dfd8d9;
  font-size: 14px;
}
