<app-header></app-header>
<section class="main text-center">
  <div class=" container row py-5 mx-auto search">
    <h1 class="fw-light">High quality Bamboo</h1>
    <p class="lead text-muted">Our Bamboo is the most juicy and delicious Bamboo out there. It also looks great in this showcase!</p>
    <form [formGroup]="form" (ngSubmit)="onSearch()" class="d-flex flex-row justify-content-center">
      <input formControlName="search" class="form-control me-2" type="search" placeholder="Search for Bamboo" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</section>

<div class="products py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">

      <div *ngFor="let product of products">
        <div class="col product">
          <div class="card shadow-sm text-center">
            <a [routerLink]="['/products', product._id]" class="d-flex flex-row justify-content-center">
              <img *ngIf="product.images?.length" [src]="product.images[0].src" class="img-fluid card-img-top">
            </a>
            <div class="card-body">
              <a [routerLink]="['/products', product._id]">
                <h4>{{product.name}}</h4>
              </a>
              <div class="d-flex flex-wrap justify-content-center gap-1 m-4">
                <div *ngFor="let tag of product.tags">
                  <span (click)="searchForTag(tag)" class="badge bg-primary">{{tag}}</span>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-center">
                <h5 class="text-primary">{{product.price | currency: 'EUR'}} each</h5>
                <span class="flex-row text-muted">{{product.additional}}</span>
              </div>
              <div class="btn-group my-4">
                <button (click)="addToCart($event, product)" type="button" class="btn btn-md btn-primary">
                  <i class="bi bi-cart2 position-relative"></i>
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
<app-toast></app-toast>
